<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Test" parallel="tests">
  <test name="TC 02 to verify-Filter tyres brand_And_Add_to_Cart_Instance_1" preserve-order="false">
    <parameter name="temp" value="temp1"/>
    <parameter name="appURL" value="https://www.tyremarket.com/Car-Tyres"/>
    <parameter name="tcID" value="TC 02 to verify-Filter tyres brand_And_Add_to_Cart"/>
    <parameter name="browserType" value="CHROME"/>
    <classes>
      <class name="com.tyremarket.Tests.AddToCartByFilter_Brand_Test"/>
    </classes>
  </test> <!-- TC 02 to verify-Filter tyres brand_And_Add_to_Cart_Instance_1 -->
</suite> <!-- Test -->
